.nav-bar {
    background-image: linear-gradient(to right, #030407, #080d1a, #101728, #101728, #19233d);
    padding: 5px 0;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.nav-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: flex-start; /* Alinhe conforme necessário */
    align-items: center;
    position: relative;
    height: 170px; /* Mantém a altura da logo */
}

.logo-img {
    position: absolute; /* Garante que as imagens se sobreponham */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona transição para opacidade e transformação */
}

.default-logo {
    height: 170px;
    opacity: 1;
    transform: translateY(0); /* Posição inicial */
}

.scrolled-logo {
    height: 100px; /* Tamanho menor para a segunda logo */
    opacity: 0;
    transform: translateY(50px); /* Posição inicial abaixo */
}

.nav-bar.scrolled .default-logo {
    opacity: 0;
    transform: translateY(-50px); /* Move a logo original para cima */
}

.nav-bar.scrolled .scrolled-logo {
    opacity: 1;
    transform: translateY(0); /* Move a segunda logo para a posição original */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    flex: 1; /* Permite que a lista ocupe o espaço disponível */
    justify-content: center; /* Centraliza os itens na lista */
}

.nav-links li {
    margin: 0;
    position: relative; /* Para posicionar o submenu */
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px 30px;
    transition: background-color 0.3s ease, color 0.3s;
    color: #ceb35b;
    border-radius: 30px;
}

.nav-links a:hover,
.nav-links .dropdown:hover > a {
    color: #000;
    background-color: #ceb35b;
}

.nav-links .dropdown-content {
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    background-color: #1c1f26; /* Tom de azul-escuro */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Posiciona abaixo do item principal */
    border-radius: 0 0 10px 10px; /* Bordas arredondadas para o submenu */
}

.nav-links .dropdown:hover .dropdown-content {
    display: block; /* Mostra o submenu ao passar o mouse */
}

.dropdown-content a {
    color: #ceb35b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 0 0 10px 10px; /* Bordas arredondadas para os links do submenu */
}

.dropdown-content a:hover {
    background-color: #575757;
    color: #000;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .content-wrapper {
        margin-top: 18vh; /* Ajusta conforme necessário para tablets */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    .nav-bar {
        height: auto;
        flex-direction: column;
        padding: 10px 0;
    }

    .nav-bar .container {
        flex-direction: column;
        padding: 0 10px;
    }

    .logo {
        height: 100px; /* Ajusta a altura da logo para telas menores */
    }

    .logo-img {
        height: 80px; /* Ajusta a altura da logo para telas menores */
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-links a {
        font-size: 14px;
        padding: 10px 20px;
    }

    .content-wrapper {
        margin-top: 20vh; /* Ajusta conforme necessário para celulares */
    }
}
