.model2 {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 0 0 4% 4%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.model2.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.model2 .text-content, .model2 .image-content {
    padding: 20px;
    flex: 1;
    margin: 0 10px; /* Espaçamento entre os elementos */
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model2 .text-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.model2 .text-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    max-width: 100%;
    text-align: justify;
}

.model2 .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .model2 {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .model2 .text-content, .model2 .image-content {
        margin: 20px 0;
        flex: none;
        width: 100%;
    }
}


.whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.social-icon img {
    width: 40px;
    height: 40px;
}
