body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff; /* Define um fundo branco para o body */
}

.nav-bar {
    background-image: linear-gradient(to right, #030407, #080d1a, #101728, #101728, #19233d);
    padding: 10px 0;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 10%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px 30px;
    transition: background-color 0.3s ease, color 0.3s;
    color: #ceb35b;
}

.nav-links a:hover {
    color: #000;
    background-color: #ceb35b;
}

.content-wrapper {
    position: relative;
    min-height: 100vh;
    background: url('/src/images/FotoFerramentas.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8%; /* Mantenha o border-radius */
    overflow: hidden; /* Garante que o conteúdo dentro do contêiner também terá bordas arredondadas */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.content {
    position: relative;
    z-index: 1;
}

.content h1 {
    font-size: 3rem; /* Tamanho da fonte */
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.2; /* Espaçamento entre linhas */
    white-space: pre-line; /* Preserva as quebras de linha */
    color: #ffff;
}

.content p {
    font-size: 1.5rem; /* Tamanho da fonte */
    margin-bottom: 20px;
    color: #fff;
}

.whatsappButton {
    display: inline-block;
    padding: 10px 20px;
    background: #25D366;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem; /* Tamanho da fonte */
}

.whatsappButton:hover {
    background: #1EBEA5;
}


